@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    background-color: #f1f1e9;
}

.container {
    width: 70%;
    margin: auto;
}

/*----- TELEPHONE -----*/

.telephone {
    position: fixed;
    bottom: 50px;
    right: 10px;
    color: #199f32;
    display: none;
}

.telephone i {
    font-size: 40px;
}

.telephone p {
    font-size: 15px;
    color: #199f32;
}

/*----- HEADER -----*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /*overflow: hidden;*/
    background-image: url('img/header1.jpg');
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
    position: relative;
}

header nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
}

header .fa-bars {
    font-size: 4rem;
    color: white;
    display: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    font-weight: 800;
}

header nav img {
    width: 100px;
    height: 100px;
}

.meniHeader {
    display: flex;
}

.aboutUs {
    width: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    color: white;
    padding: 10px;
    position: absolute;
    left: 100px;
    bottom: 100px;
    font-weight: 800;
    display: block;
}

.aboutUs h1 {
    font-size: 3.5rem;
}

/*----- CAROUSEL -----*/

.carousel {
    margin-bottom: 30px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carousel .btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: transparent;
    cursor: pointer;
}

/*----- MAIN SECTION -----*/

.mainSection {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 20px;
    color:#484848;
}

.mainSection:nth-child(odd){
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mainSection:nth-child(odd) :nth-child(2) {
    padding-left: 0px;
}

.mainSection #img1 {
    flex: 0 0 49%;
    height: 400px;
}

.secondarySection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 49%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.secondarySection h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

.secondarySection .services {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
    color: #0075db;
}

/*----- PAGE SECTION -----*/

.pageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #484848;
}

.pageSection article {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageSection article .services {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
    color: #0075db;
}


.pageSection article h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pageSection article p {
    font-size: 1.5rem;
    text-align: justify;
}

.pageSection .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageSection .gallery h3{
    width: 100%;
    background-color: #ffbf00;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
    text-transform: uppercase;
}

.pageSection .gallery .images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.pageSection .gallery img {
    height: 300px;
    width: 300px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.pageSection .pricelist {
    margin-top: 50px;
    width: 100%;
    background-image: linear-gradient(rgba(0,165,219,0.8),rgba(0,165,219,0.8)), url('img/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    text-transform: uppercase;
}

.pageSection .pricelist h3 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: white;
}

.pageSection .pricelist div {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageSection .pricelist table{
    color: #0075db;
    text-align: left;
    font-size: 1.5rem;
    background-color: white;
    width: 80%;
    border-collapse: collapse;
}

.pageSection .pricelist table th{
    color: white;
    background-color: #ffbf00;
}


.pageSection .pricelist table th td{
    padding: 15px;
}

.pageSection .pricelist table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*----- GOOGLE MAP AND CONTACT INFO -----*/

.googleMap {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.googleMap iframe {
    width: 70%;
}

.googleMap .contactInfo {
    width: 30%;
    background-color: #00a5db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.googleMap .contactInfo h2 {
    font-size: 2.5rem;
    color: white;
    padding-left: 20px;
}

.googleMap .contactInfo p {
    font-size: 1.3rem;
    color: white;
    padding-left: 20px;
}

/*----- FOOTER -----*/

footer {
    background-color:#0075db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .logo img {
    width: 100px;
    height: 100px;
}

footer .meni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .meni a{
    text-decoration: none;
    color: white;
}

footer hr {
    width: 100%;
    height: 3px;
    background-color: white;
    font-weight: 800;
}

footer .meni2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

footer .meni2 a{
    color: white;
    text-decoration: none;
}

footer .socialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

footer .socialNetworks a {
    margin-left: 50px;
    font-size: 3rem;
}

/*----------------------*/
/*----- RESPONSIVE -----*/
/*----------------------*/

@media (max-width: 1024px) {

    /*----- HEADER -----*/

    header {
        overflow: hidden;
        height: 100vh;
    }

    header nav {
        flex-direction: column;
    }

    header nav img {
        margin-bottom: 20px;
    }

    header nav div {
        width: 100%;
    }

    header nav div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header nav div a img {
        margin-bottom: 0px;
    }

    header .fa-bars {
        display: flex;
    }

    .meniHeader {
        display: none;
    }

    .aboutUs {
        width: 100%;
        padding: 0px;
        left: 0px;
        bottom: 100px;
    }

    .aboutUs h1 {
        font-size: 2.2rem;
    }

    /*----- MAIN SECTION -----*/

    
    .mainSection {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .mainSection:nth-child(odd){
        flex-direction: column-reverse;
        display: flex;
    }

    .mainSection:nth-child(odd) :nth-child(2) {
        padding-left: 10px;
    }

    .mainSection #img1 {
        width: 100%;
        max-height: 500px;
    }
    
    /*----- GOOGLE MAP AND CONTACT INFO -----*/

    .googleMap {
        flex-direction: column;
    }

    .googleMap iframe {
        width: 100%;
    }

    .googleMap .contactInfo {
        width: 100%;
    }

    .googleMap .contactInfo h2 {
        font-size: 2.3rem;
    }

    .googleMap .contactInfo p {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {

    /*----- TELEPHONE -----*/
    .telephone {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    /*----- MAIN SECTION -----*/

    .mainSection {
        margin-top: 50px;
    }

    .mainSection #img1 {
        max-height: 300px;
    }

    .secondarySection h2 {
        font-size: 2.3rem;
        margin-bottom: 30px;
    }
    
    .secondarySection .services {
        font-size: 1.9rem;
        padding: 50px;
    }

    .pageSection article .services {
        font-size: 1.9rem;
        padding: 50px;
    }

    /*----- PAGE SECTION -----*/

    .pageSection article h2 {
        font-size: 2.3rem;
    }

    .pageSection article P {
        font-size: 1.3;
    }

    /*----- GOOGLE MAP AND CONTACT INFO -----*/

    .googleMap .contactInfo h2 {
        font-size: 2rem;
    }

    .googleMap .contactInfo p {
        font-size: 1.2rem;
    }

    
    /*----- FOOTER -----*/

    footer .logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer .logo img {
        width: 100px;
        height: 100px;
    }

    footer .meni {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer .meni2 {
        flex-direction: column;
        margin-top: 20px;
    }

    footer .socialNetworks {
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer .socialNetworks a {
        margin-left: 20px;
    }

    .pageSection .pricelist table{
        font-size: 1.2rem;
        width: 100%;
    }

}


@media (max-width: 480px) {
        /*----- PAGE SECTION -----*/

        .pageSection article {
            width: 90%;
        }
        
        .pageSection article h2 {
            font-size: 2.3rem;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .pageSection article P {
            font-size: 1.3;
        }

        .pageSection .gallery h3{
            font-size: 1.5rem;
        }
    
        .pageSection .gallery .images{
            flex-direction: column;
        }
    
        .pageSection .gallery img {
            height: 300px;
            width: 100%;
            margin-left: 5px;
            margin-bottom: 5px;
        }

        .pageSection .pricelist table{
            font-size: 1.2rem;
            width: 100%;
        }
    }